.fa.fa-shopping-cart {
    color: #4fc3f7;
    font-size: 30px;
    cursor: pointer;
}

.fas.fa-home {
    color: #4fc3f7;
    font-size: 30px;
    cursor: pointer;
}

.movie_info{
    font-size: 30px;
}

.bu_back{
    background-color: #3a89aa;
    border: none;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    border-radius: 100%;
}

.total_price1 {
    alignment: center;
    font-size: 24px;

}


.pay_style{
    background-color: #3a89aa;
    border: none;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;

}

.order_list
{
    list-style-type: none;
    margin: 0;
    padding: 0;

}